<% include ../partials/header %>

<div class="container-fluid">
  <div class="form-container jumbotron">
    <h1><%=name %></h1>
    <h3><%= weather["item"]["condition"]["temp"] %>
  </div>
</div>

<% include ../partials/footer %>