<% include partials/header %>

<div class="home-landing">
  <h1>Rain or Shine</h1>
</div>

<form method="get" action="/search">
  <input type="text" name="location" placeholder="Enter location"/>
  <input type="submit" value="Search"/>
</form>

<% include partials/footer %>