<% include partials/header %>

<div class="container-fluid">
  <div class="jumbotron form-container">

    <h1>Login</h1>

    <% if (message[0]) { %>
      <ul>
        <li class="flash-error"><%= message %></li>
      </ul>
    <% } %>
    <% if (err[0]) { %>
      <ul>
        <li class="flash-error"><%= err[0] %></li>
      </ul>
    <% } %>

    <form action="/login" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>
  </div>
</div>

<% include partials/footer %>
