body {
  background: url("http://www.100hdwallpapers.com/wallpapers/2880x1800/lake_wakatipu_lscape-widescreen_wallpapers.jpg") no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  background-color: #f2f2f2;
}

.container-fluid {
  margin-top: 10px;
}

.home-landing {
  color: white;
  text-shadow: 2px 2px 2px #202021;
  margin-top: 10px;
  text-align: center;
}

.form-container {
  margin: auto;
  width: 50%;
  opacity: 0.9;
  background-color: white;
}

.flash-error {
  color: red;
}

.homepage-search form {
  text-align: center;
}

.homepage-search form input[type=text] {
  border: 2px solid green;
  border-radius: 5px;
}